body {
    font-family: 'Arial', sans-serif;
    background-color: #EDE8DC; /* Sayfa arka planı için açık krem rengi */
    color: #4A5541; /* #333 Onceki Yazı rengi */
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

header {
    text-align: center;
    margin-bottom: 20px;
    background-color: #A5B68D; /* Başlık arka planı için haki yeşil tonu */
    color: white; /* Başlık rengi beyaz */
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
    color: white; /* Başlık yazısının rengi beyaz */
}

.profile-photo {
    width: 150px; /* Fotoğrafın genişliği */
    height: 150px; /* Fotoğrafın yüksekliği */
    object-fit: cover; /* Fotoğrafın tamamını kesmeden göstermek için */
    object-position: top; /* Fotoğrafın üst kısmını göstermek için */
    border-radius: 50%; /* Fotoğrafı daire şeklinde yapmak için */
    display: block; /* Fotoğrafın etrafında boşluk bırakmamak için */
    margin: 0 auto; /* Fotoğrafı ortalamak için */
    border: 4px solid #C1CFA1; /* Hafif açık yeşil border eklemek */
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    margin: 0 15px;
    color: #333; /* Linklerin rengi */
    text-decoration: none;
}

nav a:hover {
    color: #A5B68D; /* Hover efektiyle haki yeşil rengi */
}

/* Kontakt bilgilerini ortalamak ve yan yana yerleştirmek */
.contact-info {
    display: flex;
    justify-content: center; /* Ortalamak için */
    align-items: center;
    gap: 15px; /* Aralarındaki boşluk */
    margin-bottom: 20px;
}

.contact-item {
    display: flex;
    align-items: center; /* İkon ve metni hizala */
}

.contact-link {
    color: #4A5541; /* Başlangıç rengi (sayfa rengiyle uyumlu) */
    text-decoration: none; /* Link altı çizgiyi kaldır */
    display: flex;
    align-items: center; /* İkon ve metni hizala */
}

.contact-link .icon {
    font-size: 18px; /* İkon boyutu */
    margin-right: 8px; /* İkon ile metin arasına boşluk */
    color: inherit; /* İkonun rengi, bağlantının rengiyle aynı olacak */
}

/* Hover efekti */
.contact-link:hover {
    color: #A5B68D; /* Hover rengi */
}

.contact-link:hover .icon {
    color: #A5B68D; /* Hover durumunda ikon rengi */
}

/* Ayracı renk ve stil */
.separator {
    color: #4A5541; /* Ayracı sayfa rengiyle uyumlu yapalım */
    font-size: 18px;
}

/* Footer kısmını ortalamak */
footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #888;
}

footer p {
    margin: 0;
}

footer .copyright {
    color: #4A5541; /* Footer'daki metni sayfa rengiyle uyumlu yapalım */
}



/* Mobil uyumlu stil */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    header h1 {
        font-size: 28px;
    }

    .profile-photo {
        width: 120px;
        height: 120px;
    }

    .contact-links a {
        font-size: 20px;
    }

    .contact-links span {
        font-size: 20px;
    }
}
