body {
    font-family: 'Arial', sans-serif;
    background-color: #EDE8DC; /* Sayfa arka planı için açık krem rengi */
    color: #333; /* Yazı rengi */
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

header {
    text-align: center;
    margin-bottom: 20px;
    background-color: #A5B68D; /* Başlık arka planı için haki yeşil tonu */
    color: white; /* Başlık rengi beyaz */
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
    color: white; /* Başlık yazısının rengi beyaz */
}

.profile-photo {
    width: 150px; /* Fotoğrafın genişliği */
    height: 150px; /* Fotoğrafın yüksekliği */
    object-fit: cover; /* Fotoğrafın tamamını kesmeden göstermek için */
    object-position: top; /* Fotoğrafın üst kısmını göstermek için */
    border-radius: 50%; /* Fotoğrafı daire şeklinde yapmak için */
    display: block; /* Fotoğrafın etrafında boşluk bırakmamak için */
    margin: 0 auto; /* Fotoğrafı ortalamak için */
    border: 4px solid #C1CFA1; /* Hafif açık yeşil border eklemek */
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    margin: 0 15px;
    color: #333; /* Linklerin rengi */
    text-decoration: none;
}

nav a:hover {
    color: #A5B68D; /* Hover efektiyle haki yeşil rengi */
}

footer {
    text-align: center;
    font-size: 14px;
    color: #888;
    margin-top: 40px;
}

footer p {
    margin: 0;
}

footer .copyright {
    color: #A5B68D; /* Footer'da copyright metnini haki yeşil yapalım */
}
